<% include ../views/partials/header %>
<a href="/">Go Back</a>
<h1>
    <i class="fa fa-user">
        <%= name %>
    </i>
</h1>

<%if (city) { %>
    <h4>
        <i class="fa fa-map-marker"></i>
        <i> 
            Birthplace: <%=city %>, <%= state %>
        </i>
    </h4>
<% } %>


<%if (friends.length > 0) { %>
    <ul class="list-group">
        <% friends.forEach((person) => { %>
            <li class="list-group-item"> <a href="/person/<%= person.id %>"><%= person.name %></a>  </li>
        <% }); %>

    </ul>
<% } %>

<% include ../views/partials/footer %>